BasicMvcApp/Service References/PrismaWCF/PrismaService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52504/PrismaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities.Message" />
  <xs:import schemaLocation="http://localhost:52504/PrismaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" />
  <xs:complexType name="RequestMessageGetBuildings">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities.Message" base="q1:RequestMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ZoneCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestMessageGetBuildings" nillable="true" type="tns:RequestMessageGetBuildings" />
  <xs:complexType name="ResponseMessageGetBuildings">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" minOccurs="0" name="BuildingList" nillable="true" type="q2:ArrayOfBuilding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessageGetBuildings" nillable="true" type="tns:ResponseMessageGetBuildings" />
</xs:schema>