BasicMvcApp/Service References/PrismaWCF/PrismaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrismaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52504/PrismaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52504/PrismaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52504/PrismaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrismaService_GetAllBuildings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBuildings" />
  </wsdl:message>
  <wsdl:message name="IPrismaService_GetAllBuildings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBuildingsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrismaService_GetFloors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFloors" />
  </wsdl:message>
  <wsdl:message name="IPrismaService_GetFloors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFloorsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrismaService_GetRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRooms" />
  </wsdl:message>
  <wsdl:message name="IPrismaService_GetRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrismaService_GetAllWORequestActions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWORequestActions" />
  </wsdl:message>
  <wsdl:message name="IPrismaService_GetAllWORequestActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWORequestActionsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrismaService_PutWorkRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:PutWorkRequest" />
  </wsdl:message>
  <wsdl:message name="IPrismaService_PutWorkRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutWorkRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrismaService">
    <wsdl:operation name="GetAllBuildings">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrismaService/GetAllBuildings" message="tns:IPrismaService_GetAllBuildings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrismaService/GetAllBuildingsResponse" message="tns:IPrismaService_GetAllBuildings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFloors">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrismaService/GetFloors" message="tns:IPrismaService_GetFloors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrismaService/GetFloorsResponse" message="tns:IPrismaService_GetFloors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrismaService/GetRooms" message="tns:IPrismaService_GetRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrismaService/GetRoomsResponse" message="tns:IPrismaService_GetRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWORequestActions">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrismaService/GetAllWORequestActions" message="tns:IPrismaService_GetAllWORequestActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrismaService/GetAllWORequestActionsResponse" message="tns:IPrismaService_GetAllWORequestActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutWorkRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrismaService/PutWorkRequest" message="tns:IPrismaService_PutWorkRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrismaService/PutWorkRequestResponse" message="tns:IPrismaService_PutWorkRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrismaService" type="tns:IPrismaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllBuildings">
      <soap:operation soapAction="http://tempuri.org/IPrismaService/GetAllBuildings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFloors">
      <soap:operation soapAction="http://tempuri.org/IPrismaService/GetFloors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <soap:operation soapAction="http://tempuri.org/IPrismaService/GetRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWORequestActions">
      <soap:operation soapAction="http://tempuri.org/IPrismaService/GetAllWORequestActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutWorkRequest">
      <soap:operation soapAction="http://tempuri.org/IPrismaService/PutWorkRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrismaService">
    <wsdl:port name="BasicHttpBinding_IPrismaService" binding="tns:BasicHttpBinding_IPrismaService">
      <soap:address location="http://localhost:52504/PrismaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>