BasicMvcApp/Service References/PrismaWCF/PrismaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52504/PrismaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" />
  <xs:element name="GetAllBuildings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBuildingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" minOccurs="0" name="GetAllBuildingsResult" nillable="true" type="q1:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" minOccurs="0" name="GetFloorsResult" nillable="true" type="q2:ArrayOfFloor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRooms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floorCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" minOccurs="0" name="GetRoomsResult" nillable="true" type="q3:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWORequestActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWORequestActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" minOccurs="0" name="GetAllWORequestActionsResult" nillable="true" type="q4:ArrayOfActionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutWorkRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" minOccurs="0" name="workRequest" nillable="true" type="q5:WorkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutWorkRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutWorkRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>