BasicMvcApp/Service References/PrismaWCF/PrismaService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52504/PrismaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities.Message" />
  <xs:import schemaLocation="http://localhost:52504/PrismaService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" />
  <xs:import schemaLocation="http://localhost:52504/PrismaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Common.Entities.Message" />
  <xs:complexType name="RequestMessageGetBuildings">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities.Message" base="q1:RequestMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ZoneCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestMessageGetBuildings" nillable="true" type="tns:RequestMessageGetBuildings" />
  <xs:complexType name="ResponseMessageGetBuildings">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Common.Entities.Message" base="q2:ResponseMessageBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" minOccurs="0" name="BuildingList" nillable="true" type="q3:ArrayOfBuilding" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseMessageGetBuildings" nillable="true" type="tns:ResponseMessageGetBuildings" />
  <xs:complexType name="RequestMessageGetFloors">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities.Message" base="q4:RequestMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuildingCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestMessageGetFloors" nillable="true" type="tns:RequestMessageGetFloors" />
  <xs:complexType name="ResponseMessageGetFloors">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" minOccurs="0" name="Floors" nillable="true" type="q5:ArrayOfFloor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessageGetFloors" nillable="true" type="tns:ResponseMessageGetFloors" />
  <xs:complexType name="RequestMessageGetRooms">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities.Message" base="q6:RequestMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuildingCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FloorCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestMessageGetRooms" nillable="true" type="tns:RequestMessageGetRooms" />
  <xs:complexType name="ResponseMessageGetRooms">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Common.Entities.Message" base="q7:ResponseMessageBase">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TwoToWin.Prisma.BasicWCFService.Entities" minOccurs="0" name="Rooms" nillable="true" type="q8:ArrayOfRoom" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseMessageGetRooms" nillable="true" type="tns:ResponseMessageGetRooms" />
</xs:schema>